.sell__finish
  .sel__header
    = render "shared/user_header"
  .sell__mes
    ご依頼ありがとうございます
    %p 3営業日以内にご連絡差し上げます

  .sell__home
    =link_to "https://ecopartners.co.jp/",class: "sell-btn__red" do
      トップページへ戻る