.html{
  height: 100%;
}

.single-footer  {
  background: whitesmoke;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  position:absolute;

  &__content {
    font-size: 12px;
    padding-top: 40px;
    display: inline-flex;
    &__1 {
      padding: 0 10px;
      
    }
    &__2 {
      padding: 0 10px;
    }
    &__3{
      padding: 0 10px;
    }
  }
  &__image {
    padding-top: 40px;
    margin: 0 auto;
  }
  &__copyright {
    background-color: rgb(23,157,122);
    color: #fff;
    font-size: 12px;
    line-height: 60px;
    margin-top: 36px;
    margin-bottom: 0;

  }
  .content {
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      opacity: .7;
    }
  }
}
